.title {
    margin: 0 auto;
}

.title,
.credit {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    border: 1px solid black;
    background-color: darkgray;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.display {
    background-color: lightgray;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.keypad {
    background-color: gray;
    width: 200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button {
    font-size: 20px;
    font-weight: 900;
    width: 45px;
    height: 40px;
}